<div class="container-fluid slider-bg-image ">
  <div class="slider-bg-image-overlay row">


    <div class="col-md-7">
      <div class="row justify-content-end">
        <div class="col-lg-11 col-md-11 col-xl-10">

          <h1 class="slider-conatain-heading">From Friendship To Love</h1>
          <div>
            <span class="slider-conatain-heading-tag">share your feelings without losing your friends.</span>
          </div>

          <div class="d-flex mb-4 flex-wrap">
            <div class="slider-icon slider-icon-height d-flex justify-content-center">
              <img src="../../assets/images/signup.png" class="align-self-center" alt="">
            </div>
            <div class="slider-icon-contain text-white align-self-center pl-3">
              <a href="#"> Sign up</a> and select your friend from Facebook
            </div>
          </div>

          <div class="d-flex mb-4 flex-wrap">
            <div class="slider-icon slider-icon-height-change d-flex justify-content-center">
              <img src="../../assets/images/gift.png" class="align-self-center" alt="">
            </div>
            <div class="slider-icon-contain text-white align-self-center pl-3">
              <a href="#">Buy </a> a gift for your love
            </div>
          </div>

          <div class="d-flex mb-4 flex-wrap">
            <div class="slider-icon slider-icon-height-change d-flex justify-content-center">
              <img src="../../assets/images/love.png" class="align-self-center" alt="">
            </div>
            <div class="slider-icon-contain text-white align-self-center pl-3">
              Wait and find if the
              <a href="#"> feeling </a> is mutual without revealing your identity.

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="slider-side-shape d-flex">
        <div class="d-flex align-self-center pl-md-3 pl-0 pt-2 pt-md-0 flex-wrap w-100">
          <div class="slide-play-icon-width">
            <div class="slide-play-icon">
              <i class="fa fa-play"></i>
            </div>
          </div>
          <div class="slide-play-icon-tag-line align-self-center pl-md-2 pl-0">
            Break out of
            <span>The friends zone…</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>