<div class="container-fluid login-main-bg d-flex w-100">
  <div class="container align-self-center ">
    <div fxLayout="row wrap" class="justify-content-center ">
      <div fxFlex="83%" fxFlex.xs="100%">

        <div fxLayout="row wrap" class="login-box">
          <div fxFlex="41.666%" fxFlex.sm="58%" fxFlex.xs="100%" class="bg-white">
            <div class="login-form">
              <div class="text-center mb-2 mt-5 d-none d-sm-block">
                <img src="../../assets/images/logo.png" class="d-inline-block login-logo" alt="" />
              </div>
              <p class="text-center mb-3 text-muted pt-3 pt-sm-0">SignIn with us</p>
             
              <form >

                <mat-form-field class="example-full-width w-100">
                  <input type="email" matInput placeholder="Enter Email" value="" required  color="primary" class="">
                </mat-form-field>

                <mat-form-field class="example-full-width w-100">
                    <input type="password" matInput placeholder="Enter Password" value="" required  color="primary" class="">
                  </mat-form-field>

                
                <div class="text-right mb-3">
                  <a  class="blue-link">Forget Password ?</a>
                </div>
                <div class="text-center mb-3">
                  <!--<a href="#" class="btn btn-login d-block px-4">Get Started</a>-->
                  <button mat-raised-button color="primary" class="w-100 text-white font-size-16px font-weight-400">Get Started</button>
                </div>
              </form>
              <div class="text-center text-muted pt-5 pb-2">
                Already Have account <a class="blue-link">SignUp</a>
              </div>
            </div>
          </div>
          <div fxFlex="58.333333%" fxFlex.sm="42%" fxFlex.xs="100%" class="col-lg-7 px-0 col-sm-5 order-1 order-sm-2">
            <div class="login-image-bg h-100 d-flex justify-content-center">
              <div class="align-self-center text-center">
                <img src="../../assets/images/white-logo.png" alt="" class="bg-image-logo" />
                <h1 class="text-white bg-image-content">From Friendship To Love</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
