
<footer class="container-fluid footer-bg py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-lg-10">
            <div class="input-group mb-2 news-latter">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Your Email">
              <div class="input-group-prepend">
                <a href="#" class="input-group-text">Subscribe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="text-white footer-success-line">
         <span class="footer-success-line-text pull-left"> Succes Full perfect match </span><span class="pull-right footer-success-line-count">15000 +</span>
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
  </div>  
  </footer>
  <div class="container-fluid copyright-bg py-1">
  <div class="container padding-xs-0">
    <div>
      <ul class="nav social pull-left">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
      <span class="text-white pull-right copyright-contain">Copyrights &copy; 2018 All Rights Narola Infotech</span>
      <div class="clearfix"></div>
    </div>
  </div>
  </div>
  